[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=oliver
Type=oneshot
ExecStart=/usr/bin/xscreensaver-command -lock

[Install]
WantedBy=suspend.target
