<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>Custom Color Presets</key>
	<dict>
		<key>3024 Day</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.011764705882352941</real>
				<key>Red Component</key>
				<real>0.035294117647058823</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12549019607843137</real>
				<key>Green Component</key>
				<real>0.17647058823529413</real>
				<key>Red Component</key>
				<real>0.85882352941176465</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19607843137254902</real>
				<key>Green Component</key>
				<real>0.20392156862745098</real>
				<key>Red Component</key>
				<real>0.22745098039215686</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.48627450980392156</real>
				<key>Green Component</key>
				<real>0.49019607843137253</real>
				<key>Red Component</key>
				<real>0.50196078431372548</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83137254901960789</real>
				<key>Green Component</key>
				<real>0.83529411764705885</real>
				<key>Red Component</key>
				<real>0.83921568627450982</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32549019607843138</real>
				<key>Green Component</key>
				<real>0.6705882352941176</real>
				<key>Red Component</key>
				<real>0.80392156862745101</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96862745098039216</real>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96862745098039216</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32156862745098042</real>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.0039215686274509803</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0078431372549019607</real>
				<key>Green Component</key>
				<real>0.92941176470588238</real>
				<key>Red Component</key>
				<real>0.99215686274509807</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89411764705882357</real>
				<key>Green Component</key>
				<real>0.62745098039215685</real>
				<key>Red Component</key>
				<real>0.0039215686274509803</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58039215686274515</real>
				<key>Green Component</key>
				<real>0.41568627450980394</real>
				<key>Red Component</key>
				<real>0.63137254901960782</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.95686274509803926</real>
				<key>Green Component</key>
				<real>0.89411764705882357</real>
				<key>Red Component</key>
				<real>0.70980392156862748</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63529411764705879</real>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.6470588235294118</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.34509803921568627</real>
				<key>Red Component</key>
				<real>0.36078431372549019</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568627450980391</real>
				<key>Green Component</key>
				<real>0.73333333333333328</real>
				<key>Red Component</key>
				<real>0.90980392156862744</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96862745098039216</real>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96862745098039216</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96862745098039216</real>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96862745098039216</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63529411764705879</real>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.6470588235294118</real>
			</dict>
		</dict>
		<key>AtomOneLight</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20784313725490197</real>
				<key>Green Component</key>
				<real>0.24313725490196078</real>
				<key>Red Component</key>
				<real>0.87058823529411766</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22745098039215686</real>
				<key>Green Component</key>
				<real>0.58431372549019611</real>
				<key>Red Component</key>
				<real>0.24705882352941178</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.48627450980392156</real>
				<key>Green Component</key>
				<real>0.71372549019607845</real>
				<key>Red Component</key>
				<real>0.82352941176470584</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.95294117647058818</real>
				<key>Green Component</key>
				<real>0.35294117647058826</real>
				<key>Red Component</key>
				<real>0.18431372549019609</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58431372549019611</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.62745098039215685</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22745098039215686</real>
				<key>Green Component</key>
				<real>0.58431372549019611</real>
				<key>Red Component</key>
				<real>0.24705882352941178</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22745098039215686</real>
				<key>Green Component</key>
				<real>0.58431372549019611</real>
				<key>Red Component</key>
				<real>0.24705882352941178</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.48627450980392156</real>
				<key>Green Component</key>
				<real>0.71372549019607845</real>
				<key>Red Component</key>
				<real>0.82352941176470584</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.95294117647058818</real>
				<key>Green Component</key>
				<real>0.35294117647058826</real>
				<key>Red Component</key>
				<real>0.18431372549019609</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58431372549019611</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.58431372549019611</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22745098039215686</real>
				<key>Green Component</key>
				<real>0.58431372549019611</real>
				<key>Red Component</key>
				<real>0.24705882352941178</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20784313725490197</real>
				<key>Green Component</key>
				<real>0.24313725490196078</real>
				<key>Red Component</key>
				<real>0.87058823529411766</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058823529409</real>
				<key>Green Component</key>
				<real>0.97647058823529409</real>
				<key>Red Component</key>
				<real>0.97647058823529409</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20000000000000001</real>
				<key>Green Component</key>
				<real>0.17254901960784313</real>
				<key>Red Component</key>
				<real>0.16470588235294117</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20000000000000001</real>
				<key>Green Component</key>
				<real>0.17254901960784313</real>
				<key>Red Component</key>
				<real>0.16470588235294117</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92941176470588238</real>
				<key>Green Component</key>
				<real>0.92941176470588238</real>
				<key>Red Component</key>
				<real>0.92941176470588238</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>19324BC7-4464-411A-BC87-877BD81C7849</string>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>DimOnlyText</key>
	<true/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x5b-0x1000000-0x21</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string>Copy Mode
Copy Mode</string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0x63-0x1000000-0x8</key>
		<dict>
			<key>Action</key>
			<integer>27</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string>19324BC7-4464-411A-BC87-877BD81C7849</string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0x68-0x1000000-0x4</key>
		<dict>
			<key>Action</key>
			<integer>18</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0x6a-0x1000000-0x26</key>
		<dict>
			<key>Action</key>
			<integer>21</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0x6b-0x1000000-0x28</key>
		<dict>
			<key>Action</key>
			<integer>20</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0x6c-0x1000000-0x25</key>
		<dict>
			<key>Action</key>
			<integer>19</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0x73-0x1000000-0x1</key>
		<dict>
			<key>Action</key>
			<integer>28</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string>19324BC7-4464-411A-BC87-877BD81C7849</string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0x76-0x1000000-0x9</key>
		<dict>
			<key>Action</key>
			<integer>29</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string>19324BC7-4464-411A-BC87-877BD81C7849</string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0x7a-0x1000000-0x6</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string>Maximize Active Pane
Maximize Active Pane</string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xd-0x20000-0x24</key>
		<dict>
			<key>Action</key>
			<integer>12</integer>
			<key>Keycode</key>
			<integer>13</integer>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>Text</key>
			<string>\n</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideTab</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>Leader</key>
	<string>0x62-0x40000-0xb</string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910030364990234</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0017187500000000002</real>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>19324BC7-4464-411A-BC87-877BD81C7849</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Left Command Key</key>
			<integer>3</integer>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73422706127166748</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915294289588928</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<false/>
			<key>Name</key>
			<string>default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Monaco 12</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Semantic History</key>
			<dict>
				<key>action</key>
				<string>command</string>
				<key>editor</key>
				<string>dev.zed.zed</string>
				<key>text</key>
				<string>'/Applications/Zed Preview.app/Contents/MacOS/cli' \1</string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Offscreen Command line</key>
			<false/>
			<key>Silence Bell</key>
			<true/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/\1</string>
					<key>regex</key>
					<string>/root/code/(\S*)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>disabled</key>
					<false/>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/\1#\2</string>
					<key>regex</key>
					<string>File "/root/code/(\S*)", line (\d+)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/\1#\2</string>
					<key>regex</key>
					<string>/root/code/(\S*):(\d+)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/\1/\1/\2.py#\3</string>
					<key>regex</key>
					<string>\d+:\d+:\d+,\d+ (\w+)\.(\w+):(\d+) \d+ #</string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/\1/\1/\2/\3.py#\4</string>
					<key>regex</key>
					<string>\d+:\d+:\d+,\d+ (\w+)\.(\w+)\.(\w+):(\d+) \d+ #</string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/\1/\1/\2/\3/\4.py#\5</string>
					<key>regex</key>
					<string>\d+:\d+:\d+,\d+ (\w+)\.(\w+)\.(\w+)\.(\w+):(\d+) \d+ #</string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/\1#\2</string>
					<key>regex</key>
					<string>--&gt; (\S*):(\d+):</string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/mycro/rust_ext/\1#\2</string>
					<key>regex</key>
					<string>    mycro/rust_ext/(\S+):(\d+):</string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/\1#\2</string>
					<key>regex</key>
					<string>Location: (\S+):(\d+)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>file:///Users/oliver/code/anthropic/\1#\2</string>
					<key>regex</key>
					<string>Location: /root/code/(\S+):(\d+)</string>
				</dict>
			</array>
			<key>Triggers Use Interpolated Strings</key>
			<false/>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/oliver</string>
		</dict>
	</array>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>ShowPaneTitles</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.20338554308252421</real>
	<key>StretchTabsToFillBar</key>
	<false/>
	<key>TabStyleWithAutomaticOption</key>
	<integer>3</integer>
	<key>TabViewType</key>
	<integer>1</integer>
	<key>TabsHaveCloseButton</key>
	<false/>
	<key>UseBorder</key>
	<false/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>1</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
